<div style="width:200px;float:left;overflow:hidden">
        <div class="navbar">
            <div class="title">商品类别</div>
            <div class="content">
                <ul>
                    <li><a href='../page/chineseFood.html'>中餐</a></li>
                    <li><a href='../page/westFood.html'>西餐</a></li>
                    <li><a href='../page/hotPot.html'>火锅</a></li>
                    <li><a href='../page/buffetItems.html'>自助餐</a></li>
                    <li><a href='../page/xiaoChaoItems.html'>家常小炒</a></li>
                    <li><a href='../page/seaFoodItems.html'>海鲜</a></li>
                    <li><a href='../page/noodleItems.html'>面食</a></li>
                </ul>
            </div>

        </div>


        <div class="navbar">
            <div class="title">今日热销</div>
            <div class="content">
                <ul id="hotitems">
                </ul>
            </div>

        </div>

    </div>

